h1{
    color: rgb(110, 110, 110);
    font-family: Arial;
}
h2{
    
    font-family: arial;
}
main{
    width:50%;
    margin: auto;
    
}
p{
    color: rgb(26, 26, 26);
}
img{
    width: auto;
}